@import '../../../../../assets/scss/init.scss';

.main-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 3 * $padding;
  padding-bottom: 3 * $padding;
  // height: 100%;
  @media (min-width: $layout-breakpoint-sm) {
    flex-direction: row;
    justify-content: flex-end;
    padding: initial;
  }
  &__item {
    width: 100%;
    @media (min-width: $layout-breakpoint-sm) {
      width: auto;
    }
  }
  &__link {
    text-align: center;
    color: $color-dark;
    cursor: pointer;
    display: block;
    padding: $padding;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;

    @media (min-width: $layout-breakpoint-sm) {
      font-size: 14px;
      font-weight: 400;
      position: relative;
      color: $color-light;
      &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0px;
        height: 100%;
        border: 1px solid lighten($color: $color-primary, $amount: 10%);
      }
      &:hover {
        color: darken($color: $color-dark, $amount: 20%);
        transition: color 0.3s ease-out;
      }
    }

    &:hover {
      color: darken($color: $color-secondary-dark, $amount: 0%);
      transition: color 0.3s ease-out;
    }
  }
}

.active {
  background-color: $color-secondary;
  color: $color-light;
  @media (min-width: $layout-breakpoint-sm) {
    background-color: $color-secondary;
  }
}
