@import '../../../../assets/scss/init.scss';

.social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  &-default {
    flex-direction: row;
  }
  &-vertical {
    flex-direction: column;
  }
  &__item {
    color: $color-light;
    padding: $padding * 0.666;
    cursor: pointer;
    margin: 0 $margin * 0.133;
    &:hover {
      color: lighten($color: $color-light, $amount: 10%);
    }
  }
}
