/** 
 * Variables
 */

// Colors
$color-dark: #3e1a30;
$color-light: #fce3e7;
$color-primary: #f01927;
$color-secondary: #4f97c8;
$color-secondary-dark: #3a4364;
$black: #2e2e2e;
//gaps
$padding: 15px;
$margin: 15px;
//radius
$border-radius: 4px;
//line height
$line-height: 1.4;
//font size
$font-size: 16px;
$font-button: 18px;
//conatiner
.container {
  margin-left: auto;
  margin-right: auto;
}
//layouts
$layout-breakpoint-sm: 576px;
$layout-breakpoint-md: 768px;
$layout-breakpoint-lg: 992px;
$layout-breakpoint-xlg: 1200px;

@media (min-width: $layout-breakpoint-sm) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: $layout-breakpoint-md) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: $layout-breakpoint-lg) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: $layout-breakpoint-xlg) {
  .container {
    max-width: 1140px;
  }
}
