@import '../../../../assets/scss/init.scss';

.slides {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  position: relative;
}
.dots {
  text-align: center;
  margin-top: $margin;
  margin-bottom: $margin;
}
