{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "globals": {
    "document": true,
    "window": true,
    "navigator": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 2,
    "no-bitwise": [
      "error",
      {
        "allow": ["|="]
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "custom": "ignore"
      }
    ],
    "react/display-name": "off"
  }
}
