@import '../../../../assets/scss/init.scss';

.hamburger {
  background-color: initial;
  border: none;
  color: $color-light;
  padding: $padding * 0.666;
  outline: none;
  cursor: pointer;
  &__icon {
    font-size: 24px;
  }
  @media (min-width: $layout-breakpoint-lg) {
    display: none;
  }
}
