@import '../../../../assets/scss/init.scss';
.grid {
  display: grid;
  @media (min-width: $layout-breakpoint-lg) {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    place-items: center;
  }
}
//button link {
.btn-link {
  @include button();
  box-shadow: 2px 2px 0px 0px $color-dark;
  transition: all 0.3s ease-out;
  &:hover {
    @include button-hover();
  }
}

//description
.description {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 300;
  margin-bottom: $margin;
}

