@import '../../../../assets/scss/init.scss';

.header {
  &__description {
    font-size: $font-size * 1.125;
    font-weight: 300;
    line-height: $line-height;
    margin-bottom: $margin * 2;
  }
}
.content {
  display: grid;

  @media (min-width: $layout-breakpoint-lg) {
    column-gap: $padding;
    grid-template-columns: 360px auto;
    &__images {
      div {
        margin-left: 0;
      }
    }
  }
  &__description {
    padding: $padding;
  }

  &__text {
    font-size: $font-size * 1.125;
    font-weight: 300;
    line-height: $line-height;
    margin-bottom: $margin * 2;
  }
  &__footer {
    margin-top: $margin * 2;
  }
}
.footer {
  text-align: center;
}
