@import '../../../assets/scss/init.scss';
.customer-links {
  padding-bottom: $padding * 3;
  padding-left: $padding;
  padding-right: $padding;
  h3 {
    font-size: $font-size;
    text-align: center;
    margin-bottom: unset;
    color: $color-light;
    height: auto;
    padding-bottom: 0;
  }
}
