@import '../../../assets/scss/init.scss';

.tabs {
  padding: $padding;
  &__menu {
    padding-bottom: $padding;
  }

  @media (min-width: $layout-breakpoint-lg) {
    &__menu {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
