@import '../../../../assets/scss/init.scss';

.navigation {
  background-color: rgb(240, 240, 240);
  position: absolute;
  top: 0;
  left: -80vw;
  width: 80vw;
  height: 100vh;
  z-index: 1;
  box-shadow: 0px 0px 2px 1px rgba($color-dark, 1);
  transition: left 1s ease-out;

  &-show {
    left: 0;
  }
  @media (min-width: $layout-breakpoint-sm) {
    position: static;
    transform: none;
    box-shadow: none;
    height: auto;
    background-color: transparent;
    transition: none;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media (min-width: $layout-breakpoint-sm) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
