@import '../../../assets/scss/init.scss';

.customer-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  h3 {
    font-size: 20px;
    margin-bottom: $margin;
    height: 44px;
  }
}
