@import '../../../assets/scss/init.scss';

.services {
  background-color: lighten($color: $color-secondary, $amount: 40%);
  padding: $padding * 2 $padding;
  &-inner {
    padding: $padding;
    @media (min-width: $layout-breakpoint-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
.service-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: $margin * 1.666;
  @media (min-width: $layout-breakpoint-sm) {
    flex-direction: column;
    flex-basis: 50%;
    align-items: center;
    justify-content: start;
  }
  @media (min-width: $layout-breakpoint-lg) {
    flex-basis: 33.3%;
  }

  &__description {
    @media (min-width: $layout-breakpoint-sm) {
      padding: 0 $padding;
      text-align: center;
    }
  }
  &__icon {
    font-size: $font-size * 5;
    margin-right: $margin;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $margin;
    color: darken($color: $color-fg, $amount: 20%);
    font-weight: 500;
    font-size: $font-size * 1.1;
    @media (min-width: $layout-breakpoint-sm) {
      text-align: center;
    }
  }

  &__info {
    font-weight: 300;
    font-size: $font-size;
    line-height: $line-height;
    @media (min-width: $layout-breakpoint-xlg) {
      max-width: 350px;
    }
  }

  &-1 {
    color: $color-primary;
  }
  &-2 {
    color: $color-secondary;
  }
  &-3 {
    color: $color-fg;
  }
  &-4 {
    color: $color-primary;
  }
  &-5 {
    color: $color-highlights;
  }
  &-6 {
    color: $color-secondary;
  }
}
