@import '../../../../assets/scss/init.scss';

.links-list {
  &__link {
    display: block;
    font-weight: 300;
  }
}
.active {
  color: $color-secondary !important;
  font-weight: 500!important;
}
