@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
@import-normalize;
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
#root {
  min-width: 320px;
}

a {
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
