@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}
#root {
  min-width: 320px;
}
